<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">
        Notes is a good helper to manage your notes. It gives you a quick and simple notepad editing
        experience when you write notes. It makes to take a note
        easier than any other notepad and memo apps.</p>
    <h4 class="my-4"></h4>
    <p>Come on!</p>
    <a href="/notes" class="btn btn-primary">My notes</a>
</div>